$color-white:#FFF;
$color-black:#111;
$color-black-rgba:rgba(17, 17, 17, 0.73);
$color-charcoal:#222;
$color-dark-gray:#444;
$color-gray:#888;
$color-red:#F00;
$color-green:#0F0;
$color-blue:#00F;
$color-cyan:#0FF;
$color-magenta:#F0F;
$color-yellow:#FF0;
$color-pink:#FDD;